.CityPageHero {
    height: 100%;
    #carouselCityProfile {
        height: 100%;
        .carousel-item {
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
    }
    .carousel-control-next-icon {
        background-image: url('../../img/next_icon.svg');
    }
    .carousel-control-prev-icon {
        background-image: url('../../img/prev_icon.svg');
    }
    .home-icon {
        position: absolute;
        right: 40px;
        top: 40px;
        z-index: 9999;
        img {
            width: 60px;
        }
    }
    .city-akam-logo {
        position: absolute;
        z-index: 999;
        width: 300px;
        top: 30px;
        background-color: #ffffff;
    }
    .before-after-container {
        position: relative;
        .time-tag {
            position: absolute;
            z-index: 9999999;
            bottom: 20px;
            background-color: #fff;
            font-size: 1.3rem;
            font-weight: 800;
            padding: 6px 15px;
        }
    }
}

.CityPage {
    .project-container {
        margin: 100px 0;
        text-align: center;
        h1 {
            font-size: 3.5rem;
            font-weight: 600;
        }
        h2 {
            font-size: 2.7rem;
            font-weight: 600;
        }
        h3 {
            margin-top: 70px;
            font-size: 2rem;
        }
        p {
            font-size: 1.6rem;
        }
        .info-container {
            .info {
                display: inline-block;
                border: 1px solid #F38221;
                border-radius: 2px;
                width: max-content;
                margin: 0 10px;
                .icon-container {
                    width: max-content;
                    padding: 5px;
                    background-color: #F38221;
                    display: inline-block;
                    img {
                        height: 30px;
                    }
                }
                .value-container {
                    display: inline-block;
                    padding: 5px 14px;
                    vertical-align: middle;
                }
            }
        }
        .section-container {
            margin: 170px 0;
            .team-img {
                width: 100%;
            }
            .team-logo {
                margin: 40px 0;
                .org-logo-container {
                    margin: 20px 0;
                }
                img {
                    display: inline-block;
                    margin: auto;
                    height: 80px;
                    margin-bottom: 20px;
                }
            }
            .stakeholder-logo {
                img {
                    display: inline-block;
                    margin: 0 40px;
                }
            }
            .team-name-container {
                background-color: #E5E5E5;
                padding: 30px 0;
                margin: 50px 0;
                h4 {
                    font-size: 1.2rem;
                    font-weight: 400;
                    padding: 6px 0;
                }
            }
        }
        .member-name {
            font-size: 1.5rem;
            font-weight: 700;
        }
        .tweet-container {
            
            .tweet-timeline {
                width: 40%;
                height: 800px;
                overflow: scroll;
                display: block;
                margin: auto;
            }
        }
    }
    .description-qa {
        margin-top: 70px;
        padding: 0 80px;
        text-align: left;
        .ques-row {
            margin-bottom: 50px;
        }
        h3 {
            text-align: left;
            margin: 0;
            font-size: 1.3rem;
            line-height: 1.9rem;
        }
        li {
            font-size: 1.3rem;
            list-style: none;
        }
    }
    .feedback-container {
        width: 70%;
        margin: auto auto;
        img {
            width: 100%;
        }
    }
    
}