
.Hero {
    padding: 10px 0;
    width: 100%;
    /* background-image: url('../../img/hero_home.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    .org-logo {
        display: block;
        margin: 0 auto;
        height: 100%;
    }
    .org-scm {
        width: 40%;
    }
    .org-akam {
        width: 60%;
    }
    .org-mohua {
        width: 60%;
    }
    .org-aatam {
        width: 35%;
    }
    .org-swachh {
        width: 70%;
    }
    
    .hero-container {
        position: relative;
        padding-top: 10px;
        height: 500px;
        .slideshow {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            img {
                position: relative;
                top: -200px;
            }
            /* img {
                filter: contrast(0%);
            } */
            /* img:hover {
                filter: contrast(50%) grayscale(100%) blur(0px);
            } */
        }
        .placemaking-logo-container {
            position: absolute;
            z-index: 9999;
            padding: 130px 0px;
            width: 100%;
            height: 100%;
            background-color: #00000077;
            img {
                display: block;
                margin: auto auto;
                width: 60%;
            }
        }
    }
    .about-container {
        padding: 40px 0;
        p {
            font-size: 1.3rem;
        }
        .facts-container {
            .row {
                padding-bottom: 15px;
            }
        }
        .facts-img {
            width: 40px;
        }
        .fact-text {
            display: flex;
            align-items: center;
            h5 {
                margin: 0;
                font-size: 1.2rem;
            }
        }
    }
}

.CityList {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 100%;
    h1 {
        font-weight: 700;
    }
    .control-container {
        width: 70%;
        margin: 40px auto;
        margin-bottom: 0;
    }
    .input-group-text {
        background-color: #000;
        color: #fff;
        border: 1px solid #000;
    }
    .MuiToggleButtonGroup-root {
        width: 100%;
    }
    .MuiToggleButton-root {
        width: 50%;
    }
    .MuiButtonBase-root.Mui-selected {
        color: #fff;
        background-color: #000;
    }
    .MuiButtonBase-root.Mui-selected:hover {
        color: #fff;
        background-color: #222;
    }
    .input-group-text {
        img {
            height: 80%;
            display: inline-block;
            margin: auto auto;
        }
    }
}

.CityCardGrid {
    width: 100%;
    padding: 20px 0;
    margin-bottom: 40px;
    .CityCard {
        position: relative;
        background-color: #fff;
        margin-bottom: 60px;
        height: 300px;
        .city-image-container {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 4px;
            img {
                height: 100%;
                position: relative;
                left: -50%;
                -webkit-transition: all 600ms;
                transition: transform .3s;
            }
            img:hover {
                -webkit-filter: grayscale(60%);
                transform: scale(1.1);
            }
        }
        .city-name-project-container {
            position: absolute;
            bottom: 10px;
            left: 0px;
            font-weight: 500;
            font-size: 0.7rem;
            .fit-box {
                margin: 3px 0;
                padding: 3px 10px;
                width: fit-content;
                background-color: #fff;
                color: #000;
            }
            .project-name {
                width: 95%;
                font-size: 0.9rem;
                line-height: 1.1rem;
            }
        }
        .CardProjectName {
            padding: 15px;
            border-bottom: 1px dotted #444;
            .tag-container {
                margin-bottom: 10px;
                .tag {
                    background-color: #000;
                    color: #fff;
                    margin: 0 5px 0 0;
                    padding: 5px 10px;
                    border-radius: 3px;
                    font-size: 0.8rem;
                }
            }
            h4 {
                font-size: 1.3rem;
                font-weight: 600;
            }
            a {
                color: #000;
                text-decoration: none;
            }
        }
    }
    .filter-container {
        position: sticky;
        top: 20px;
    }
}